# General
.DS_Store
*.log
.env

# Temporary files
/tmp/
*.tmp
*.swp
*~

# SSL Certificates
nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt

# Docker volumes
docker-volumes/

# React Native backup
mobile-react-native-backup/
